{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Display a form #}
<h3 class="text-center">Login</h3>
<div class="container">
	<form method="post" class="navbar-form navbar-left">
	{% csrf_token %}
	<div class="row">
	  <div class="col-xs-6">
         <label>Phone</label>
      </div> 
      <div class="col-xs-6">
         <input type="text" name="username">
      </div>
</div>
        <div class="row">
	  <div class="col-xs-6">
         <label>Password</label>
      </div> 
      <div class="col-xs-6">
         <input type="password" name="password">
      </div>
</div>
        <button type="submit">Login</button>
	</form>
</div>

