{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Display a form #}
{% if user.is_authenticated %}
<h3 class="text-center">Home</h3>
<div class="container">
	<form method="post" class="navbar-form navbar-left">
	 {% for field in form %}
	  <div class="row">
	  <div class="col-xs-6">
         {{field.label_tag}}
      </div> 
      <div class="col-xs-6">
         {{field}}
      </div>
      </div>
      <br>
	{% endfor %}
	  {% buttons %}
	    <button type="submit" class="btn btn-primary">
	      Submit
	    </button>
	  {% endbuttons %}
	</form>
</div>
{% endif %}
